{% load static %}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <!-- FONTAWESOME : https://kit.fontawesome.com/a23e6feb03.js -->
    <link rel="stylesheet"   href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.  5/jquery.mCustomScrollbar.min.css">
    {% comment %} Bootstrap {% endcomment %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css">
    
    <title>App Luis Quintana</title>
  </head>
  {% if messages %}
    {% for  message in messages %}
    <div class="alert alert-success" role="alert">
      <h4 class="alert-heading">{{message}}</h4>
    </div>
    <div class='notification {{message.tags}}'>
        {{message}}
    </div>
    {% endfor %}
  {% endif %}
  <body>
    
  <nav class="navbar navbar-expand-lg navbar-light blue fixed-top">
    <button id="sidebarCollapse" class="btn navbar-btn">
      <i class="fas fa-lg fa-bars"></i>
    </button>
    <a class="navbar-brand" href="">
      <h3 id="logo">App Luis Quintana</h3>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"  aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        {% if request.user.is_authenticated %}
        <li class="nav-item active">
          <a class="nav-link" id="link" href='/logoutusuario'>
          <i class="fas fa-sign-out-alt"></i>
          Logout</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" id="link" href='/loginusuario'>
          <i class="fas fa-sign-in-alt"></i>Login</a>
        </li>
        {% endif %}
        
      </ul>
    </div>
  </nav>

  <div class="wrapper fixed-left">
    <nav id="sidebar">
      {% if request.user.is_authenticated %}
      <div class="sidebar-header">
        <h3><i class="fas fa-user"></i>Hola {{request.user}}</h3>
      </div>
      {% else %}
      <div class="sidebar-header">
        <h3><i class="fas fa-user"></i>Username</h3>
      </div>
      {% endif %}
      <ul class="list-unstyled components">
        <li>
          <a href="/"><i class="fas fa-home"></i>Home</a>
        </li>
        {% if request.user.is_authenticated %}
          {% if request.user.is_staff %}
          <li>
            <a href="/crearusuario"><i class="fas fa-user-plus"></i>Crear Usuario</a>
          </li>         
          <li>
            <a href="/mostrarusuarios"><i class="fas fa-users"></i>Ver Usuarios</a>
          </li>
          <li>
            <a href="/tickets"><i class="fas fa-check-double"></i>Ver Tickets</a>
          </li>
          {% else %}
          
        <li>
          <a href="/crearticket"><i class="fas fa-check"></i>Crear Ticket</a>
        </li>
        <li>
          <a href="/ticketsu"><i class="fas fa-check-double"></i>Mis Tickets</a>
        </li>
        {% endif %}
        {% endif %}
        <li>
          <a href=""><i class="fas fa-info"></i>About App</a>
        </li>
        <li>
          <a href=""><i class="fas fa-portrait"></i>About Me</a>
        </li>
      </ul>
    </nav>

    <div id="content">
      {% block content %}
      
      {% endblock  %}
    </div>

  </div>
    
    
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'js/script.js' %}"></script> 
    <script src="{% static 'js/icons.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    {% comment %} <script src="https://code.jquery.com/jquery-3.5.1.js"></script> {% endcomment %}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
    
    <script>
      $(document).ready(function () {
          $('#example').DataTable();
      });
    </script>
    <script>
      $(document).ready(function() {
        $('#sidebarCollapse').on('click', function() {
          $('#sidebar, #content').toggleClass('active');
          $('.collapse.in').toggleClass('in');
          $('a[aria-expanded=true]').attr('aria-expanded', 'false');
          document.getElementById("bodyContent").style.width="100%";
        });
    }); 
    </script>

  </body>
</html>