{% extends 'aplicacion/layout.html' %}
{% block content %}


<table id="example" class="table table-striped">
    <thead class="table-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Usuario</th>
          <th scope="col">Email</th>
        </tr>
    </thead>
      <tbody>
        {% for us in usuarios %}
        
        <tr>
          <th scope="row" class = "count"></th>
          <td>{{ us.username }}</td>
          <td>{{us.email}}</td>
        </tr>
        {% endfor %}
      </tbody >
      <tfoot class="table-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Usuario</th>
          <th scope="col">Email</th>
        </tr>
      </tfoot>
</table>

{% endblock  %}